.image-viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  color: black;
  z-index: 99999999;
}

.image-viewer .images{
  width: 600px;
  min-height: 800px;
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.image-viewer .icon.hide {
  cursor: pointer;
}

.image-view .icon.show {
  cursor: pointer;
}

.images img{
  max-width: 80%;
  margin: 0 auto;
  display: inline-block;
  font-size: 0;
}
